.container {
    background: linear-gradient(to right, #E2A64E, #a08149);
    padding: 3%;
    min-height: 80vh;
}

.heading {
    color: whitesmoke;
    font-size: 2rem;
    margin-bottom: 30px;
}

.subContainer {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #454545;
    border-radius: 5px;
}

.grandTotal {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkoutBtnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.checkout {
    cursor: pointer;
    background: #1AC1F9;
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px 0 0;
    font-size: 1rem;
    transition: all linear 250ms;
}
.checkout:hover {
    transform: scale(1.05);
    background-color: #16a5d4;
}
.checkout:disabled {
    cursor: not-allowed;
}
.checkout:disabled:hover {
    transform: scale(1);
    background-color: #1AC1F9;
}